.profile-listing-holder {
    width: 100%;
}

.create-campaign-btn {
    display: flex;
    align-items: center;
    width: fit-content;
    padding: 18px 20px;
    font-size: 90%;
    font-weight: 600;
    cursor: pointer;
    margin: 0;
    box-shadow: var(--lightBoxShadow);
    border-radius: 8px;
    transition-duration: 0.3s;
    background-color: var(--black);
    text-decoration: none;
    color: white;
}

.create-campaign-btn:hover {
    opacity: 0.8;
}

.create-campaign-btn-img {
    width: 13px !important;
    margin-right: 6px !important;
}

.platform-img {
    position: static;
    box-shadow: var(--darkBoxShadow);
    border-radius: 50%;
    padding: 8px;
    z-index: -1;
}

.platform-img {
    width: 28px;
    height: 28px;
    margin-right: 10px;
    display: flex;
}

.profile-holder {
    z-index: 99;
    position: relative;
    flex-direction: column;
    align-items: center;
    margin-top: -5%;
}

.profile-pic {
    border: 7px solid white;
}

.profile-info-holder {
    margin-left: 0;
    align-items: center;
}

.complete-prof-btn {
    text-decoration: underline;
    font-weight: 600;
    cursor: pointer;
}

.swiper {
    display: none;
}

@media only screen and (max-width: 1000px) {
    .packages-holder {
        grid-template-columns: repeat(1, 1fr);
    }

    .create-campaign-btn {
        margin-bottom: 6%;
    }

    .profile-holder {
        margin-top: -10%;
    }
}